<div class="about-us">
  <div class="about-us__container">
    <div class="about-us__left">
      <h2 class="about-us__title title">About <span>us.</span></h2>
      <p class="about-us__text text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua Quis ipsum suspendisse.
      </p>
      <div class="about-us__content content-about">
        <div class="content-about__item"><span></span>lorem ipsum dolor.</div>
        <div class="content-about__item"><span></span>lorem ipsum dolor.</div>
        <div class="content-about__item"><span></span>lorem ipsum dolor.</div>
        <div class="content-about__item"><span></span>lorem ipsum dolor.</div>
      </div>
      <button class="about-us__button btn btn_purple">read more</button>
    </div>

    <div class="about-us__right">
      <img src="@img/about-us/person.png" alt="person" />
    </div>
  </div>
</div>
