<div class="feedback">
  <div class="feedback__container">
    <h2 class="feedback__title">what<span>users think.</span></h2>
    <div class="feedback-slider swiper-container">
      <div class="feedback-slider__wrapper swiper-wrapper">
        <div class="card-feedback swiper-slide">
          <div class="card-feedback__img">
            <img src="@img/feedback/1.png" alt="user" />
          </div>
          <h4 class="card-feedback__name">laura smith</h4>
          <div class="card-feedback__stars">
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star.png" alt="star" />
          </div>
          <div class="card-feedback__quote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua .
          </div>
        </div>
        <div class="card-feedback swiper-slide">
          <div class="card-feedback__img">
            <img src="@img/feedback/2.png" alt="user" />
          </div>
          <h4 class="card-feedback__name">jhon smith</h4>
          <div class="card-feedback__stars">
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star.png" alt="star" />
          </div>
          <div class="card-feedback__quote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua .
          </div>
        </div>
        <div class="card-feedback swiper-slide">
          <div class="card-feedback__img">
            <img src="@img/feedback/3.png" alt="user" />
          </div>
          <h4 class="card-feedback__name">sara smith</h4>
          <div class="card-feedback__stars">
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star.png" alt="star" />
          </div>
          <div class="card-feedback__quote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua .
          </div>
        </div>
        <div class="card-feedback swiper-slide">
          <div class="card-feedback__img">
            <img src="@img/feedback/1.png" alt="user" />
          </div>
          <h4 class="card-feedback__name">laura smith</h4>
          <div class="card-feedback__stars">
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star.png" alt="star" />
          </div>
          <div class="card-feedback__quote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua .
          </div>
        </div>
        <div class="card-feedback swiper-slide">
          <div class="card-feedback__img">
            <img src="@img/feedback/2.png" alt="user" />
          </div>
          <h4 class="card-feedback__name">jhon smith</h4>
          <div class="card-feedback__stars">
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star.png" alt="star" />
          </div>
          <div class="card-feedback__quote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua .
          </div>
        </div>
        <div class="card-feedback swiper-slide">
          <div class="card-feedback__img">
            <img src="@img/feedback/3.png" alt="user" />
          </div>
          <h4 class="card-feedback__name">sara smith</h4>
          <div class="card-feedback__stars">
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star-purple.png" alt="star" />
            <img src="@img/feedback/star.png" alt="star" />
          </div>
          <div class="card-feedback__quote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua .
          </div>
        </div>
      </div>
    </div>
    <div class="feedback__buttons">
      <button class="feedback__button feedback__button_prev">
        <img src="@img/arrow-bold.png" alt="prev" />
      </button>
      <button class="feedback__button feedback__button_next">
        <img src="@img/arrow-bold.png" alt="next" />
      </button>
    </div>
  </div>
</div>
