<div class="find-course">
  <div class="find-course__container">
    <h2 class="find-course__title">find<span>Your Course.</span></h2>
    <div class="find-course__cards">
      <div class="find-course__card card-find-course">
        <div class="card-find-course__number">.01</div>
        <h3 class="card-find-course__title">course<span>01</span></h3>
        <div class="card-find-course__divider"></div>
        <div class="card-find-course__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et.
        </div>
        <div class="card-find-course__button">
          <button class="btn btn_purple">read more</button>
        </div>
      </div>
      <div class="find-course__card card-find-course">
        <div class="card-find-course__number">.02</div>
        <h3 class="card-find-course__title">course<span>02</span></h3>
        <div class="card-find-course__divider"></div>
        <div class="card-find-course__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et.
        </div>
        <div class="card-find-course__button">
          <button class="btn btn_purple">read more</button>
        </div>
      </div>
      <div class="find-course__card card-find-course">
        <div class="card-find-course__number">.03</div>
        <h3 class="card-find-course__title">course<span>03</span></h3>
        <div class="card-find-course__divider"></div>
        <div class="card-find-course__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et.
        </div>
        <div class="card-find-course__button">
          <button class="btn btn_purple">read more</button>
        </div>
      </div>
      <div class="find-course__card card-find-course">
        <div class="card-find-course__number">.04</div>
        <h3 class="card-find-course__title">course<span>04</span></h3>
        <div class="card-find-course__divider"></div>
        <div class="card-find-course__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et.
        </div>
        <div class="card-find-course__button">
          <button class="btn btn_purple">read more</button>
        </div>
      </div>
    </div>
    <div class="find-course__button">
      <button>
        more courses
        <img src="@img/arrow-regular.png" alt="arrow right" />
      </button>
    </div>
  </div>
</div>
