<div class="main-block">
  <div class="main-block__container">
    <div class="main-block-slider swiper-container">
      <div class="main-block-slider__wrapper swiper-wrapper">
        <div class="main-block-slider__slide swiper-slide">
          <div class="main-block-slider__img">
            <img src="@img/main-block/person.png" alt="person" />
          </div>
          <div class="main-block-slider-content">
            <h2>Start guide for beginner designers</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore .
            </p>
            <div class="main-block-slider-content__buttons">
              <button class="btn btn_purple">let's start</button>
              <button class="btn">read more</button>
            </div>
          </div>
        </div>
        <div class="main-block-slider__slide swiper-slide">
          <div class="main-block-slider__img">
            <img src="@img/main-block/person.png" alt="person" />
          </div>
          <div class="main-block-slider-content">
            <h2>Start guide for beginner designers</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore .
            </p>
            <div class="main-block-slider-content__buttons">
              <button class="btn btn_purple">let's start</button>
              <button class="btn">read more</button>
            </div>
          </div>
        </div>
      </div>
      <button class="main-block-slider__nav-button main-block-slider__prev">
        <img src="@img/arrow-regular.png" alt="go previous" />
      </button>
      <button class="main-block-slider__nav-button main-block-slider__next">
        <img src="@img/arrow-regular.png" alt="go next" />
      </button>
    </div>
    <div class="main-block__bottom">
      <div class="item-bottom-main-block">
        <p class="item-bottom-main-block__number"><span>+</span>150</p>
        <div class="item-bottom-main-block__text">
          <h5>happy</h5>
          <h6>students</h6>
        </div>
      </div>
      <div class="item-bottom-main-block">
        <p class="item-bottom-main-block__number"><span>+</span>50</p>
        <div class="item-bottom-main-block__text">
          <h5>certified</h5>
          <h6>courses</h6>
        </div>
      </div>
      <div class="item-bottom-main-block">
        <p class="item-bottom-main-block__number"><span>+</span>1000</p>
        <div class="item-bottom-main-block__text">
          <h5>awards</h5>
          <h6>received</h6>
        </div>
      </div>
    </div>
  </div>
</div>
