<div class="why-us">
  <div class="why-us__container">
    <div class="why-us__left">
      <img src="@img/why-us/person.png" alt="person" />
    </div>
    <div class="why-us__right">
      <h2 class="why-us__title title">Why <span>us.</span></h2>
      <p class="why-us__text text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua Quis ipsum suspendisse consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        Quis ipsum suspendisse.
      </p>
      <button class="why-us__button btn btn_purple">read more</button>
    </div>
  </div>
</div>
